/*Fonts: font-family: 'Abril Fatface', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
/*
 Paleta de colores
Blanco: #f8f8f8
Crema: #f7dfd3
Rosa Claro: #e2c3c8
Lavanda Claro: #afafc7
Azul Pastel: #5f7daf
*/

@media only screen and (max-width:460px) {
    body {
        background-color:  #f7dfd3;
        margin: 0px;
    }
    img {
        height: 20vh;
        width: 60vh;
    }
    
    .cabecera__lista {
        font-size: medium
    }

   
    section.store-item-1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4fr;
        grid-gap: 2vh;
        justify-items: center;

    
    }
    
    #imagen1 {
        height: 100vw;
        width: 100vw;
        padding-top: 10vh;
    }

    #imagen2 {
        height: 100vw;
        width: 100vw;
        padding-top: 10vh;

    }#imagen3 {
        height: 100vw;
        width: 100vw;
        padding-top: 10vh;

    }#imagen4 {
        height: 100vw;
        width: 100vw;
        padding-top: 10vh;
    }
    

 
}

@media only screen and (min-width: 481px) and (max-width:960px) {
    body {
        background-color:  #f7dfd3 ;
    }

  section.store-item-1 {
        display: grid; 
        grid-gap: 10vh; 
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        justify-content: space-between;
       
    }

    .store-item-1 {
        padding: 10vh;

    }

    #imagen1:hover {
        transition: all 2s ease-in;
        transform: translateX(100px);
    }
}

@media only screen and (min-width: 961px) {
    section.store-item-1 {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
   
}
    
/* Transiciones y Animaciones */

.wallpaper__titulo {
    border-radius: 15vh;
    height: fit-content;
    width:fit-content;
    margin: 50px auto;
    background-color: black;
}
.wallpaper__subtitulo {
    border-radius: 15vh;
    height: fit-content;
    width:fit-content;
    margin: 50px auto;
    background-color: black;
}

.wallpaper__titulo:hover {
    transform: scale(2);
    transition: all 4s;
}

.wallpaper__subtitulo:hover {
    transform: scale(3);
    transition: all 4s;

}


body {
    display: grid;
    position: relative;

}

*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}



a {
    text-decoration: none ;
    color: black;
}

section.wallpaper {
    background-image: url(Audiovisuales/wallpaper.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: grid;
    justify-content: space-evenly;
    align-items: flex-end;
    justify-items: center;
    align-content: center;
}

.logoluna {
    display: flex;
    height: 200vh;
    width: 200vw;
}

.wallpaper__titulo {
    font-family:'Abril Fatface', cursive;
    color: #f8f8f8;
    font-size: 45px;
}

.wallpaper__subtitulo {
    font-family: 'Abril Fatface', cursive;
    color:#f8f8f8;
    font-size: 25px;
}

ul.cabecera {
    background-color:  #f8f8f8;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    align-content: center;
    font-family: 'Abril Fatface', cursive;
}


.cabecera__lista {
    display: flex;
    flex-wrap: wrap;

}


main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer {
    height: 200px;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}



.contacto {
    display: flex;
    align-items: center;
    font-family:'Abril Fatface', cursive;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.listacontactos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    width: 125%;
    align-items: center;
    align-content: space-between; 
    align-self: baseline;
    position: relative;
    padding-top: 5vh;

}

.copyright {
    display: flex;
    position: inherit;
    align-self: center;

}

.grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-items: center;
    grid-template-areas: 
    "header header header"
    "section section section"
    "main main main"
    "footer footer footer";

}


.formulario {
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: space-between;
    flex-direction: column;
}

.formulario-1 {
    background-color: white;
    width: 200px;
    height: 200px;
}

background-image {
    display: flex;
    flex-wrap: wrap;
}

.store {
    display: grid;
    height: 300px;
    padding: 0;

}

.store-item-1 {
    display: flex;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-top: 5vh; 
    justify-content: space-between;
    
}

p {
    display: flex;
    text-decoration: none;
    justify-content: center;
}

hr {  
border: none;
background-color: rgb(10, 9, 9);
height: 1px; 
display: block;
border: 0;
border-top: 1px;
margin: 1em 0;
padding: 0;
}

.store__producto {
   height: 30vw;
   width: 30vh;
   object-fit: cover;
   
}

.footer__tienda {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10vh;
}

.productos__tienda {
    display: grid;
    grid-gap: 10vh;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
}

